@tailwind base;
@tailwind components;
@tailwind utilities;

html{

/* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: #0B9476;
background: -webkit-radial-gradient(center, #0B9476, #010101);
background: -moz-radial-gradient(center, #0B9476, #010101);
background: radial-gradient(ellipse at center, #0B9476, #010101);

}

.app{            
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15);
-webkit-backdrop-filter: blur(15);
border: 1px solid rgba(255, 255, 255, 0.2);
}